<div class="modal-dialog">
  <!-- Main Modal content-->
  <div class="modal-content">
    <div class="modal-body">
      <div class="mainPadding">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 style="margin:0px!important;font-size:20px!important;font-weight:bold!important">Delete Confirmation
            </h3>
          </div>
          <div class="panel-body">
            <div class="panel-body">
              <div class="alert alert-danger">
                <strong>Please click confirm button to delete the record ?</strong>
              </div>
              <div class="row" style="margin-top:5px;">
              </div>
              <div class="row" style="margin-top:5px;">
                <div class="col-sm-offset-5 col-md-7">
                  <button id="deleteDisable" type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)='deleteRecord()'>
                    <i class="fa fa-trash-o"> Confirm</i>
                  </button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
